<% @title="Productos" %>
<div class="container mt-4 ">
<div class="row">
<div class="col-8">

<div class="card-header bg-info ">
<h3 class=" text-white text-center">Nuevo Producto</h3>
</div>
</div>
</div>
</div>

<%= render 'form', product: @product %>
<div class="container">
<%= link_to 'Back', products_path, class: 'ms-3 btn btn-danger' %>
</div>
